<form class="legends sheet balanceTrack-sheet {{cssClass}}" autocomplete="off">
  <section class="sheet-body">
    {{> "systems/legends/templates/partials/description-editor.hbs" }}
  </section>
</form>
