<form class="legends sheet condition-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="title">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
  </header>
  
  <div class="form-group">
    <label>Maximum</label>
    <input type="number" name="data.track.max" data-dType="Number" value="{{data.data.track.max}}" />
  </div>
</form>
