<label class="center" style="display:block;">
  <a class="condition-toggle check-box{{#if value}} filled{{/if}}"></a>
  <input type="checkbox" name="{{name}}" {{checked value}} style="display: none;">
</label>
