<section class="condition">
  <div>
    <input type="checkbox" name="{{data.checked}}" {{#if data.data.checked}}checked{{/if}} />
    <span  class="large title">{{name}}</span>
  </div>
  {{{data.description}}}
</section>