<section class="item condition" data-item-id="{{_id}}">
  <div>
    <a class="condition-toggle check-box{{#if data.checked}} filled{{/if}}"></a>
    <span class="large title">{{name}}</span>
  </div>
  {{{data.description}}}
</section>