<section class="item condition" data-item-id="{{_id}}">
  <div>
    <input class="condition-toggle" type="checkbox" {{#if data.checked}}checked{{/if}} />
    <span  class="large title">{{name}}</span>
  </div>
  {{{data.description}}}
</section>