<section class="item condition" data-item-id="{{_id}}">
  <div>
    <span class="large title condition-toggle">
      <a class="check-box{{#if data.checked}} filled{{/if}}"></a>
      <span class="menu">{{name}}</span>
    </span>
  </div>
  {{{data.description}}}
</section>