<section class="description-editor">
  <h2 class="title sigils">{{localize "legends.common.description"}}</h2>
  
  <div class="description">
    {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</section>