<section class="description-editor">
  <h1 class="title center underline">{{localize "legends.common.description"}}</h1>
  
  <div class="description">
    {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</section>
