{{#unless inSheet}}<div class="legends">{{/unless}}
<section class="item moment-of-balance" data-item-id="{{_id}}">
  <h3 class="title kanji">
    {{localize "legends.actor-sheet.player.momentOfBalance"}}
  </h3>
  {{{enrichHTML system.description}}}
</section>
{{#unless inSheet}}</div>{{/unless}}
