<form class="legends sheet balanceTrack-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
  </header>
  <div>
</form>
