<form class="legends sheet condition-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="title">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
  </header>
  <div>
    </table>
    <h2 class="title">{{localize "legends.common.description"}}</h2>
    <div class="editor">
      {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>
