// out: false

@import "./config.less";

.withSigils() { 
  &::before{
    content: url(./images/move-header-detail-l.png);
    padding: 0 0.5rem;
  }
  &::after{
    content: url(./images/move-header-detail-r.png);
    padding: 0 0.5rem;
  }
}

.legends.sheet{
  margin: -8px;
  padding: 0.5rem;
  .bg-fade();

  header.sheet-header{
    flex:none;
  }

  .editor{
    height:200px;
  }

  input, select, textarea {
    background: none;
    border: 1px solid @accent-color;
    margin: 0;
  }

  .sigils{
    border-bottom: 2px solid @accent-color;
    text-align: center;
    margin-bottom:0;
    .withSigils();
  }

  .description h3{
    .title-font();
  }

  &.player-sheet {
    .training{
      flex: 1;

      .trainings{
        text-align: center;
        margin: 2rem 0;
        label{
          margin: 0 1rem;
          &.water { color: @waterbender; }
          &.fire { color: @firebender; }
          &.earth { color: @earthbender; }
          &.air { color: @airbender; }
          &.weapons { color: @weaponsmith; }
          &.technology { color: @technologist; }
        }
      }

      .fighting-style {
        text-align: center;
        padding:0.5rem;

        label{
          padding: 0.5rem;
          background: white;
          input{
            display: inline-block;
            width: 40%;
            text-align:left;
            border: none;
          }
          border: 2px solid @accent-color;
          border-bottom: none;
          border-radius: 0.5rem 0.5rem 0 0;
        }
      }
    }

    .main{
      flex: 1;
      flex-direction: row;
      display: flex;
      margin: 0 -8px 1rem;
      padding: 0 8px;
      border-top: 2px solid @firebender;
      border-bottom: 2px solid @firebender;
      box-shadow: inset 0 0 100px @accent-color;

      .stats-and-fatigue, .conditions{
        flex: 3;
        margin: 1rem 0.5rem;

        .stats input{
          text-align: center;
          width: 2rem;
          height: 2rem;
          border: 3px solid black;
          border-radius: 50%;
          background: white;
        }

        .fatigue{
          margin-top: 2rem;
        }
      }

      .balance{
        flex: 5;
        margin: 1rem 0.5rem;
      }

      h1, h2, h3, h4{
        border: none;
        text-align: center;
      }
    }

    .conditions{
      flex: 1;
      .condition{
        margin-bottom: 0.5rem;
        p{
          margin-top: 0;
          font-size: 1rem;
          &.title{
            margin: 0;
          }
        }
      }
    }

    .moves{
      flex: 1;
      h1{
        border: none;  
      }
      .columns{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 -0.5rem;
      }
      .move{
        padding: 0 0.5rem 1rem;
        margin: 0;
        flex: 50%;
        h3{
          margin: 0;
        }
        p{
          margin: 0;
        }
      }
    }

    .techniques{
      flex: 1;
      h1{
        border: none;

        &::before, &::after{
          .kanji-font();
          color: @firebender;
          padding: 0;
          font-size: 70%;
          vertical-align: top;
        }
        &::before{
          content: '武';
          padding-right: 1rem;
        }
        &::after{
          content: '術';
          padding-left: 1rem;
        }
      }
      .technique{
        margin-bottom: 0.5rem;
        h3, h4, p{
          margin: 0;
        }
        h4{
          color: @firebender;
          font-size: 0.9rem;
          .right{
            float: right;
            color: @text-color;

            .fa-times-circle{
              color: @firebender;
            }
          }
        }
      }
    }
  }
}
